.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.filterBox {
    display: grid;
    grid-template-columns: repeat(6, 7rem);
    grid-gap: 0.4rem;
}