.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color:#7c33e7;
	padding: 10px;
	color: #fff;
}

.logo {
	padding: 10px 20px;
	display: flex;
}

.menu_item {
	padding: 10px 20px;
	& + & {
		border-left: 1px solid #fff;
	}
}
