.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color:#7c33e7;
	padding: 10px;
	color: #fff;
}

.logo {
	padding: 10px 20px;
	display: flex;
}

.menu {
	display: flex;
	flex-direction: row;
}
.menu_item {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	& + & {
		border-left: 1px solid #fff;
	}
}

.user {
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50px;
	padding:10px;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/images/yellow-heart.png');
}
