.layout {
	text-align: center;
}

.container {
	padding-top: 120px;
}

.main {
	background: rgb(124,51,231);
	background: linear-gradient(180deg, rgba(124,51,231,1) 0%, rgba(188,23,249,1) 33%, rgba(255,255,255,0) 100%);
	overflow: hidden;
}
