.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
}

.card {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10000;
}

.card:hover {
    transform: scale(1.05);
    padding: 0.5rem;
}

.price {
    float: right;
}

.tokenId {
    float: left;
}