.container {
	max-width: 510px;
	margin: 0 auto;
	// border: 1px solid #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.lock_image {
	width: 80%;
}

.profile {
	display: flex;
	position: relative;
	height: 40px;
}

.profile_one {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position:relative;
	top:-130px;
	left: -20px;
}

.profile_two {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position:relative;
	top:-130px;
	right: -20px;
}

.couple_name {
	position:relative;
	font-size: 48px;
	color: #fff;
}

.text {
	margin: 40px 0;
	width: 80%;
	padding:30px;
	border-radius: 80px;
	background-color: #fff;
	color: #CB4FFE;
	font-size: 24px;
	white-space: pre-line;
}

.couple_image {
	width: 80%;
	border-radius: 30px;
	overflow: hidden;
}

.util {
	width: 80%;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #b7791f;
	.button {
		margin: 20px 0;
	}
	.slogan {
		margin-top: 20px;
		font-size: 14px;
	}
}
