.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

.table {
	width: 300px;
	margin: 20px auto;
	text-align: center;
}

.item {
	position: relative;
	width: 300px;
	margin: 0 auto;
	.number {
		position:absolute;
		display: inline-block;
		top:0;
		left:0;
		z-index: 10;
		padding:10px;
		width: 50%;
		text-align: left;
		color: #fff;
		font-size: 14px;
	}
	.price {
		position:absolute;
		display: inline-block;
		bottom:15px;
		left:50%;
		z-index: 10;
		transform: translateX(50%);
		padding:5px;
		width: 30%;
		text-align: center;
		background-color: #7c33e7;
		color: #fff;
		font-size: 14px;
	}
}
